You will run a command in terminal. If the command fails try to fix the failure. Modify and rerun the command until you find what works.
If you cannot fix it after 4 retries give up and return the last command that fixed an error message. Also provide a 2 sentence analysis of returned command execution.
As final output, you will respond with a json that looks like this:
{{example_report}}